@mixin large-desktop {
  @media (max-width: (1720px)) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: (1520px)) {
    @content;
  }
}

@mixin small-desktop {
  @media (max-width: (1280px)) {
    @content;
  }
}

@mixin large-tablet {
  @media (max-width: (1024px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (768px)) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: (600px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (480px)) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: (320px)) {
    @content;
  }
}

@mixin font-h2() {
  font-family: P052, Arial, sans-serif;
  font-size: rem(40);
  font-weight: 700;
  line-height: rem(48);
  color: $primaryColor;

  @include mobile {
    font-size: 20px;
    line-height: 28px;
  }
}

@mixin font-h3() {
  font-family: P052, Arial, sans-serif;
  font-size: rem(32);
  font-weight: 700;
  line-height: rem(32);
  color: $primaryColor;

  @include mobile {
    font-size: 20px;
    line-height: 28px;
  }
}

@mixin font-h4() {
  font-size: rem(24);
  font-weight: 400;
  line-height: rem(32);
}

@mixin font-roboto() {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: $secondaryColor;
}

@mixin font-contacts() {
  font-size: rem(20);
  font-weight: 400;
  line-height: rem(24);
  color: $gray;
}

@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return calc($pixels / $context) * 1rem;
}
