$mainFont: 'Lato', 'Arial', sans-serif;
$mainFontSize: 16px;
$primaryColor: #18191b;
$secondaryColor: #c6af66;
$lightGray: #acada5;
$middleGray: #63636f;
$gray: #424343;
$platinum: #e9eaec;
$lightPlatinum: #f7f7f8;
$white: #fff;

$mainBorderRadius: 16px;
$controlsBorderRadius: 4px;

$mainBoxShadow: 0px 8px 16px 0px rgba(34, 35, 36, 0.1);
$headerBoxShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
